.empty-box {
    width: 100%;
    min-height: 80vh;
    background-color: #fff;
    background: url('http://storage.360buyimg.com/imp-image/empty.png') no-repeat;
    background-position: center;
  }
  